:root {
    --dark: #323437;
    --light: #e2b514da;
    --text-color: #d1d0c5;
    --text-fade: #61605c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 36px;
    overflow: visible;
    user-select: none;
}

.hidden {
    visibility: hidden;
}


body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--dark);
    font-family: monospace;
}

.app-container {
    position: relative;
    padding: 1rem;
    height: 100vh;
    width: 95vw;
    overflow: hidden;
}

.button-logo:hover {
    cursor: pointer;
    opacity: 1;
}

.nav-container {
    width: 90vw;
    height: 25vh;
    position: relative;
}


#logo-image {
    z-index: -1;
    width: 12rem;
    position: absolute;
    top: -6rem;
    left: 7rem;
}

.main-container {
    height: 60vh;
    width: 90vw;
}

.select-time {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 48.6%;
    line-height: 0.7rem;
}

.select-time,
.select-time div,
.select-time span {
    color: var(--text-fade);
    font-size: 0.45rem;
    font-weight: bolder;
    cursor: pointer;
}

.select-time div {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    color: var(--text-color);
    cursor: default;
}

#clock {
    width: 0.5rem;
    margin-right: 0.1rem;
}

.select-time div:hover {
    opacity: 1;
}

.time-wrapper:hover {
    color: var(--text-color);
}

.time-wrapper.default-time {
    color: var(--light);
}

.time-wrapper.default-time:hover {
    color: var(--text-color);
}

.button-container {
    width: 25vw;
    position: absolute;
    top: -0.5rem;
    left: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-logo {
    width: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0.4;
    margin-left: -5rem;
}

#light {
    width: 40rem;
    position: absolute;
    top: -10rem;
    opacity: 0.7;
}

#glow {
    width: 15rem;
    position: absolute;
    top: -2rem;
    left: 5.8rem;
    opacity: 0.7;
}

.main-container {
    position: relative;
}

.type-container {
    position: absolute;
    top: 6.5rem;
    left: 8rem;
}

.container {
    position: relative;
    padding: 1rem;
    width: 40rem;
    max-width: 90%;
    color: var(--text-fade);
}

.blur {
    filter: blur(0.2rem);
}

.loading {
    z-index: 1;
    position: absolute;
    top: 4rem;
    left: 15.8rem;
    font-size: 0.5rem;
}

#result {
    z-index: 1;
    background-color: var(--dark);
    position: relative;
    top: 8rem;
    left: 21rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    -webkit-box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 7px 9px 5px -5px rgba(0, 0, 0, 0.6);
    width: 8rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    transition: transform 1s ease;
    transform: scale(0.1);
}

#result.transform {
    transform: scale(1);
}

.wpm {
    color: var(--light);
    font-weight: bold;
}

#wpm-label {
    color: var(--text-fade);
    font-weight: bold;
}

.acc {
    color: var(--light);
    font-weight: bold;
}

#acc-label {
    color: var(--text-fade);
    font-weight: bold;
}

.timer {
    color: var(--light);
    font-weight: bold;
    position: absolute;
    top: 6rem;
    left: 24.6rem;
}

.quote-display {
    line-height: 1rem;
}

.container-focus {
    color: var(--text-fade);
}

.container-glow {
    text-shadow: 0px 0.1px var(--light);
}

.correct {
    color: var(--text-color);
}

.incorrect {
    color: red;
}

.footer-container {
    z-index: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 0.45rem;
    position: relative;
    width: 20rem;
    top: -4.6rem;
    left: 32%;
}

#arrow {
    margin-right: 0.2rem;
}

#cursor {
    display: inline-block;
    width: 0.07rem;
    height: 0.8rem;
    position: absolute;
    top: -0.01rem;
    left: -0.07rem;
    background-color: var(--light);
}

#reset-holder {
    position: relative;
    height: 2rem;
}

#reset-logo {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 0.7rem;
    opacity: 0.4;
}

#reset-logo:hover {
    opacity: 1;
}

#reset-popup {
    color: var(--text-color);
    background-color: black;
    position: absolute;
    font-size: 0.4rem;
    padding: 0.25rem 0.4rem;
    left: 47%;
    top: 64%;
    border-radius: 5px;
    z-index: 1;
}

#reset-arrow {
    content: "";
    color: black;
    position: absolute;
    width: 0.3rem;
    top: 50%;
    left: 50.3%;
    border-color: transparent transparent black transparent;
    border-width: 5px;
    border-style: solid;
}